body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./book.gif');
  background-repeat:no-repeat;
  
  background-position: center;
 background-attachment:fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:300px;
}

.footer p{
  background-image:radial-gradient(white,pink);
  width:100%;
  text-align:center;
}